.homeBg{
  height: 94vh;
  background-image: url("../../assets/images/aboutApple.jpg");
  background-size: cover;
}

.homeHeight{
  height: 94vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}