<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <div>
                <h1 class="text-center mt-5">Contact</h1>
            </div>
            <div>
                <form>
                    <div class="form-group">
                        <label>First Name</label>
                        <input #firstName type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input #lastName type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input #email type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Subject</label>
                        <input #subject type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label #message for="#">Message</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger" (click)="contactMsg(firstName.value, lastName.value, email.value, subject.value, message.value)">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>