<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Shipping Address">
          <ng-template ngbPanelContent>
            <div class="d-flex flex-column">
              <input type="text" class="form-control-lg mb-2" placeholder="First Name">
              <input type="text" class="form-control-lg mb-2" placeholder="Last Name">
              <input type="text" class="form-control-lg mb-2" placeholder="Street Address">
              <input type="text" class="form-control-lg mb-2" placeholder="Apt, suite, etc.">

              <div class="d-flex">
                <input type="text" class="form-control-lg mb-2" placeholder="City">
                <input type="text" class="form-control-lg mb-2" placeholder="State">
              </div>


              <input type="text" class="form-control-lg mb-2" placeholder="Zip Code">
              <input type="text" class="form-control-lg" placeholder="Phone Number">
            </div>


          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2" title="Shipping Method">
          <ng-template ngbPanelContent>
            <div class="d-flex flex-column">
              <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Standard Shipping</h5>
                  <h6 class="card-subtitle mb-2 text-muted">$5.99</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-danger text-white" (click)="selectStandard()">Select</a>
                </div>
              </div>
              <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Priority Shipping</h5>
                  <h6 class="card-subtitle mb-2 text-muted">$11.99</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-danger text-white" (click)="selectPriority()">Select</a>
                </div>
              </div>
            </div>

          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" title="Payment">
          <ng-template ngbPanelContent>
            <div class="d-flex flex-column">
              <input type="text" class="m-2 form-control-lg mb-2" placeholder="Card Number">
              <input type="text" class="m-2 form-control-lg mb-2" placeholder="Card Holder">
            </div>

            <div class="d-flex flex-column">
              <input type="text" class="m-2 form-control-lg" placeholder="CVV">
              <input type="text" class="m-2 form-control-lg" placeholder="Month">
              <input type="text" class="m-2 form-control-lg" placeholder="Year">
              <button class="m-2 btn btn-danger" (click)="placeOrder()">Place Order</button>
            </div>

          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>

    <div class="col m-5">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Order Summary</li>
          
          <div class="list-group-item">
            <div class="d-flex justify-content-between">
              <p class="card-text">Subtotal</p>
              <p class="card-text">${{subtotal}}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="card-text">Shipping</p>
              <p class="card-text">${{shipping}}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="card-text">Taxes</p>
              <p class="card-text">${{subtotal*.09}}</p>
            </div>
          </div>
          <div class="list-group-item d-flex justify-content-between">
            <p class="card-text">Total</p>
            <p class="card-text">${{subtotal+(subtotal*.09)+shipping}}</p>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>