<div class="container">
  <div>
    <h1>Our Story</h1>
  </div>
  <div>
    <p>The orchard is home to 20 apple cultivars ranging in tastes, textures, and subtle flavors. We are dedicated to
      growing our apple crop sustainably using integrated pest management techniques to achieve the highest quality of
      fruit. Our 2019 crop is Tru-Earth Certified.</p>
  </div>
  <div>
    <p>Malum's also features a handicap accessible, John Deere train, the Honeycrisp Express, an apiary, observational
      bee hive, morel mushrooms in the spring, blueberries in the summer, and Wisconsin peaches in the fall. Home to
      Hog's Back Brew Farm, Ecker's Apple Farm is now a must-stop craft beer destination open on weekends June through
      October. </p>
  </div>

  <div>
    <img src="assets/images/aboutApple.jpg" alt="I am an Apple">
  </div>

  <div>
    <p>Come walk our orchard rows; pick-your-own apples each September. Take in the fall colours with family and
      friends. Our orchard market is open daily each fall, brimming with specialty foods, our gourmet caramel, and our
      scratch apple pies. The orchard is our labour of love, please be part of it with us.</p>
  </div>

  <div>
    <p>We use agricultural practices that help our trees produce high quality apples while minimizing our impact on the
      environment. That includes implementing Integrated Pest Management (IPM) principles. IPM allow us to minimize
      spraying by strengthening the orchard ecosystem so that conditions are favorable for the apple trees and
      beneficial insects but unfavorable for pests. We also allow natural processes to replace chemicals whenever we
      can. For instance, if you have gone apple picking you may have noticed all the apples that fall to the ground.
      Some dropped apples are used for our apple canon but the vast majority are left on the ground to act as a natural
      fertilizer.</p>
  </div>

  <div>
    <p>Many apples from the grocery store travel from another state or even overseas. This leaves a large carbon
      footprint. We’re proud that Malum's apples are California grown on-site in our orchard. Your trip to the
      orchard to buy direct supports a local farm and also produces far less carbon emissions compared to the fuel
      required to ship in an out-of-state or overseas apple.</p>
  </div>
</div>